<nav class="py-6 h-full">
  <ul class="flex flex-column gap-4 justify-content-center h-full">
    <li class="flex-grow-1">
      <a routerLink="/" aria-label="Home"><i class="pi pi-microsoft text-xl md:text-2xl"></i></a>
    </li>

    <li>
      <a routerLink="/" aria-label="Analytics"><i class="pi pi-gauge text-xl md:text-2xl"></i></a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="text-100" aria-label="Dashboard"><i class="pi pi-objects-column text-xl md:text-2xl"></i></a>
    </li>
    <li>
      <a routerLink="/" aria-label="Reports"><i class="pi pi-chart-line text-xl md:text-2xl"></i></a>
    </li>
    <li>
      <a routerLink="/" aria-label="Settings"><i class="pi pi-cog text-xl md:text-2xl"></i></a>
    </li>
    <li>
      <a routerLink="/" aria-label="Notifications"><i class="pi pi-bell text-xl md:text-2xl"></i></a>
    </li>

    <li class="flex-grow-1 flex justify-content-center align-items-end">
      <a routerLink="/" aria-label="Sign Out"><i class="pi pi-sign-out text-xl md:text-2xl"></i></a>
    </li>
  </ul>
</nav>