<h5 class="text-center text-900 text-lg mt-0 mb-4">Sales By Station</h5>

@for (station of salesByStationService.stationsSales; track station.id) {
  <div class="mb-4">
    <div class="flex justify-content-between align-items-center gap-2 mb-2">
      <i class="pi pi-server text-2xl text-700 mr-1"></i>
      <p class="m-0 font-bold text-700">{{ station.station }}</p>
      <p class="m-0 flex-grow-1 text-right font-bold text-lg text-900">{{ station.value }}</p>
    </div>
    <p-progressBar [value]="station.progress" [showValue]="false" />
  </div>
}